<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring6ReactiveWebClientApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="spring-6-reactive-web-client" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="guru.springframework.spring6reactivewebclient.Spring6ReactiveWebClientApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>